/* =============================================================

  name: header.css

  description: includes all styles specific to header details

  author: eric specht | 5-7752 | wes11@psu.edu

  modification history:

  date       initials  description
  ------------------------------------------------------------------
  11-08-22   wes11     initial creation

==================================================================== */
/*
  navigation bar
*/
.navbar-fixed-top {
  background-color: var(--yellow);
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.navbar-brand img {
  max-width: 200px;
}

/*
  page header
*/
#page-header {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 20px 0 25px 0;
}

#page-header .page-header {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
}

/*
  breadcrumbs
*/
#breadcrumb, .breadcrumb {
  color: var(--white);
  margin-bottom: 0;
}

#breadcrumb a, #breadcrumb a:visited, #breadcrumb a:hover, .breadcrumb-item+.breadcrumb-item::before {
  color: var(--white);
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--bright-green);
}

/*
  application title
*/
#application-title {
  font-size: 1.5rem;
  font-family: var(--font-serif);
}